/*
 * Theme definitions
 */

.day {
}

.night {
}

$themes: (
  day: (
    textColor:#333,
    bgColor:white,
    activeColor:#a500ff,
    gradientStop1:white,
    gradientStop2:lighten(#a500ff, 20),
    gradientStop3:#a500ff,
    filter: brightness(0.85) sepia(1) hue-rotate(220deg) saturate(3)
  ),
  night: (
    textColor: white,
    bgColor: black,
    activeColor: red,
    gradientStop1:black,
    gradientStop2:darken(red, 20),
    gradientStop3:red,
    filter: brightness(0.7) sepia(1) hue-rotate(-48deg) saturate(7)
  ),
);

/*
 * Implementation of themes
 */
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

